* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
}

.product {
  border: 5px solid black;
}

.detail-title {
  font-size: 16px;
}

.detail-list {
  list-style: square;
}


.up-case {
  text-transform: uppercase;
}

.title {
  text-align: center;
  background-color: rgb(231, 231, 231);
}

.price {
  font-weight: 90px;
  font-size: x-large;
}

.info-Link {
  color: black;
  font-weight: bolder;
}

.info-Link:hover {
  font-size: larger;
  text-decoration: none;
  cursor: help;
}

.btn {
  background-color: rgb(255, 255, 255);
  border: none;
}

.btn:hover {
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  font-size: larger;
}